*.pkl
*.bin
*.json
*.txt
*.xlsx
*.csv
*.vscode
*.ipynb_checkpoints
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
_pycache_
__pycache__
*.json
*.pth
Model
*.cfg
*.log
*.zip
*.tar
*.tar.gz
*.pkl
*.bin
*.safetensors
BERTModel
*.pth
*.h5
*.ckpt
