*.pkl
*.bin
*.json
*.txt
*.xlsx
*.csv
*.vscode
*.ipynb_checkpoints
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
_pycache_
__pycache__
*.json
*.pth
Model
*.cfg
*.log
*.zip
*.tar
*.tar.gz
*.pkl
*.bin
*.safetensors
BERTModel
*.pth
*.pt
*.h5
*.ckpt
*.mat
*.pt
*jpg
*.png
*.jpeg
*.bmp
*.gif
*.webp
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.mp3
*.wav
*.ogg
*.aac
*.flac
*.m4a
*.wma
*.mid
*.midi
*.mpg